@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tienda de Mauricio</h1>
    <p class="lead">Tres módulos</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Clientes</h2>
        <p>
            Permite:
        </p>
        <p>
            - Creación, modificación y eliminación de clientes.
        </p>
        <p>
            - Filtro de búsqueda.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Artículos</h2>
        <p>
            Permite:
        </p>
        <p>
            - Creación, modificación y eliminación de artículos.
        </p>
        <p>
            - Filtro de búsqueda.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Facturación</h2>
        <p>
            Permite:
        </p>
        <p>
            - Creación, modificación y eliminación de facturas.
        </p>
        <p>
            - Filtro de búsqueda.
        </p>
        <p>
            - Creación de factura seleccionando el cliente desde una lista desplegable.
        </p>
        <p>
            - El botón de ver detalle, despliega en una nueva vista, las líneas de detalle que contienen los artículos de la factura.
        </p>
        <p>
            - La columna Factura pagada indica si la factura está o no pagada (quedó sin finalizar).
        </p>
    </div>
    <div class="col-md-6">
        <h2>Líneas de detalle</h2>
        <p>
            Permite:
        </p>
        <p>
            - Creación, modificación y eliminación de líneas de detalle.
        </p>
        <p>
            - Creación de líneas de detalle seleccionando el artículo desde una lista desplegable.
        </p>
        <p>
            - La columna Factura pagada indica si la factura está o no pagada (quedó sin finalizar).
        </p>
    </div>
</div>